@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Great+Vibes&family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.font-script {
  font-family: 'Great Vibes', cursive;
  line-height: 1.4;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}
